body {
  min-height: 100vh;
  margin: 0;
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #1f2937;
}

.containerPic {
  margin: 20px;
  border: 10px solid red;
}

img {
  width: 150px;
  height: 150px;
  background-color: whitesmoke;
}

.main {
  font-size: 50px;
  font-weight: 800;
  color: white;
  text-align: center;
  padding: 10px 50px 40px 50px;
}

.intro {
  color: white;
  text-align: center;
  font-size: 22px;
}

.pictures {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 20px 20px 20px;
  border-color: white;
}
